@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600&family=Nunito+Sans:wght@200;300;700&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #675ddb;
}

footer {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

.flash-text {
    font-size: x-large;
    padding-top: 4%;
    color: #fff;
    
}

/*  ________________ Navbar Section ________________ */

nav ul a {
    font-size: 1.6rem;
    color: #413B88;
    font-weight: bold;
    font-family: 'Halant', serif; 
    font-weight: 600;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #413B88;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}


nav ul {
    margin-right: 10%;
}

nav .brand-logo {
    margin-left: 10%;
    color: #413B88;
}

nav .nav-wrapper {
    background-color: #fff;

    height: 140%;
    margin-top: 2rem;
}

h3 {
    font-size: 3rem;
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.brand-logo {
    font-family: 'Halant', serif; 
    font-weight: 700;
   
  
}

/* Delete shadow in Navbar */
.z-depth-0 {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

/*  ________________  Buttons ________________ */
.btn-large {
    border-radius: 6px;
}


.button-purple {
    background-color: #413B88;
}

.button-index,
.button {
    background-color: #413B88;
}


.button-index a {
    color: #ffff
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #675ddb;
}

.search-backspace-button,
.button-delete {
    background-color: #f44336;
}

.search-backspace-button:hover,
.button-delete:hover {
    background-color: #f44336;
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    font-size: large;
    color: #413B88;
    font-size: 1.5rem;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #675ddb;
}

.card .card-image img {
    min-height: 400px;
    background-color: lightgrey;
}

.button-cancel > a {
    color: white;
    margin-left: 2px;
}


.modal-button {
    font-size: 1.5rem;
    color: #413B88;
    text-transform: uppercase;

}

.btn, .button-delete, .button-purple {
    margin-left: 2px;
}

.book-button {
    border-radius: 50%;
}

/*  ________________  Parallax ________________ */

/* Parallax container Index page */

.parallax-container {
    width: 100%;
}

.top-container {
    height: 20rem;
}

.hero-container {
    padding-bottom: 4rem;
    padding-top: 3rem;
}


/*  ________________  Input fields ________________ */

/* Change the color of the validate fields to overwrite Materialize default color */
label.active {
    color: #413B88 !important;
}


/*  ________________  Profile page ________________ */ 

td, th {
    text-align: center;
}



/*  ________________  ALL books page ________________ */


/* Utilities */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 15px;
}


.card-container {
    min-height: 600px;
    min-width: 200px;
}


/*  ________________  Books page ________________ */

#book-page-img img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 300px;
    margin-top: 3.2vh;
    margin-left: auto;
    margin-right: auto;
}

.favorite-button {
    margin-top: 20px;
    margin-right: 20px;
   
}

.favorite-button:hover {
    background-color: rgb(206, 187, 206);
}

.modal .modal-close {
    font-size: 1.5rem;
}

.comments-title {
    margin-top: 50px;
}

.comments-section {
    padding: 0;
    margin: 0;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #413B88;
}

.book-description {
    text-align: justify;
}

.book-container {
    margin-top: 50px;
    padding-bottom: 20px;
}

/* Burger icon, small devices */

nav .sidenav-trigger i {
   color: #413B88;
}

.sidenav li>a{
    color: #413B88;
}


/*  ________________ Flash messages ________________ */


.flashes {
    background-color: #675ddb;
    max-width: 60%;
   
}

.flashes h4 {
    padding-top: 20px;

}




/*  ________________ Media Queries ________________ */

/* Make search bar take the whole width so it displays the 
text correctly in small devices */
@media screen and (max-width: 600px) {
    .button-index, .button {
    margin-bottom: 6px;
    }

    .card-row {
        margin-left: 0;
    }
    
    .input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label {
        width: 90%;
    }

    .row {
        margin-right: auto;
        margin-bottom: 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;       
      }

    .input-field {
        margin-left: -3rem;
    }
}


