@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,100;1,300;1,500&family=Press+Start+2P&display=swap");


* {
    font-family: "Poppins", sans-serif;
  }

  body {
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
}


/*  ________________ Navbar Section ________________ */

nav ul a {
    font-size: 1.2rem;
    color: #413B88;
    font-weight: bold;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #413B88;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}


nav ul {
    margin-right: 10%;
}

nav .brand-logo  {
    margin-left: 10%;
    color: #413B88;
}

.nav-wrapper{
    background-color: #fff;   
    height: 5rem; 
}


/* Delete shadow in Navbar */
.z-depth-0 {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
  }



/*  ________________  Buttons ________________ */

.btn {
    size: 2em;
}

.button-cancel {
    background-color: #413B88;
}




.parallax-container {
    width: 100%;
}
