@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600&family=Nunito+Sans:wght@200;300;700&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
}



/*  ________________ Navbar Section ________________ */

nav ul a {
    font-size: 1.6rem;
    color: #413B88;
    font-weight: bold;
    font-family: 'Halant', serif; 
    font-weight: 600;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #413B88;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}


nav ul {
    margin-right: 10%;
}

nav .brand-logo {
    margin-left: 10%;
    color: #413B88;
}

nav .nav-wrapper {
    background-color: #fff;

    height: 140%;
    margin-top: 2rem;
}

h3 {
    font-size: 3rem;
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.brand-logo {
    font-family: 'Halant', serif; 
    font-weight: 700;
   
  
}

/* Delete shadow in Navbar */
.z-depth-0 {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

/*  ________________  Buttons ________________ */

.btn {
    size: 2em;
}

.button-purple {
    background-color: #413B88;
}

.button-index,
.button {
    background-color: #413B88;
}


.button-index a {
    color: #ffff
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #675ddb;
}

.search-backspace-button,
.button-delete {
    background-color: #f44336;
}

.search-backspace-button:hover,
.button-delete:hover {
    background-color: tomato;
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    font-size: large;
    color: #413B88;
    font-size: 1.5rem;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #675ddb;
}

/*  ________________  Parallax ________________ */

/* Parallax container Index page */

.parallax-container {
    width: 100%;
}

.top-container {
    height: 20rem;
}

.section {
    padding-bottom: 4rem;
    padding-top: 3rem;
}


/*  ________________  Input fields ________________ */

/* Change the color of the validate fields to overwrite Materialize default color */
input.validate.focus-visible {
    border-bottom: 3px solid #413B88 !important;

}

input.validate.invalid.focus-visible {
    border-bottom: 1px solid #f44336 !important;
}

label.active {
    color: #413B88 !important;
}


/*  ________________  Profile page ________________ */ 

td, th {
    text-align: center;
}

.table-container {
    width: 75%;
    margin-left: 12%;
}

/*  ________________  Books ________________ */