{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add New Book</h3>

<div class="row">
    <form class="col s12" method="POST" action="">
      <div class="row">
        <div class="input-field col s12">
          <input id="book_name" name="book_name" type="text" class="validate" 
          minlength="5" maxlength="50" required>
          <label for="book_name">Book name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <textarea id="book_description" name="book_description" minlength="5"
            maxlength="300" class="materialize-textarea validate" required></textarea>
        <label for="book_description">Book Description</label>
    </div>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <button class="btn-large waves-effect waves-light right" type="submit" name="action">
            Submit<i class="material-icons right">arrow_forward</i>
          </button>
    </div>
    </form>
  </div>

{% endblock %}