{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add New Book</h3>

<div class="row">
    <form class="col s12" method="POST" action="">
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Placeholder</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Placeholder</label>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <button class="btn-large waves-effect waves-light right" type="submit" name="action">
            Submit<i class="material-icons right">arrow_forward</i>
          </button>
    </div>
    </form>
  </div>

{% endblock %}