{% extends "base.html" %} {% block content %}

<h3 class="center-align">Add New Book</h3>

<div class="row">
    <!-- genre section -->
    <form class="col s12" method="POST" action="{{ url_for('add_book') }}">
        <label>Select genre</label>
        <select id="genre_name" name="genre_name" class="validate" required>
            <option value="" disabled selected><label for="genre_name">Select Genre</label></option>
            
            {% for genre in genres %}
            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
            {% endfor %}
        </select>

        <!-- Book name -->
        <div class="row">
            <div class="input-field col s12">
                <input id="book_name" name="book_name" type="text" class="validate" minlength="5" maxlength="50"
                    required />
                <label for="book_name">Book name</label>
            </div>
        </div>
        <!-- Book description -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="book_description" name="book_description" minlength="5" maxlength="500"
                    class="materialize-textarea validate" required></textarea>
                <label for="book_description">Book Description</label>
            </div>
        </div>

        <!-- Book author -->

        <div class="row">
            <div class="input-field col s12">
                <textarea id="book_author" name="book_author" minlength="5" maxlength="50"
                    class="materialize-textarea validate" required></textarea>
                <label for="book_author">Book Author</label>
            </div>
        </div>

         <!-- Book image url -->
         <div class="row">
            <div class="input-field col s12">
                <input id="book_image" name="book_image" type="text" class="validate">
                <label for="image_url">Book Cover Image URL</label>
            </div>
        </div>

        <!-- Number of  pages -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="number_pages" name="number_pages" minlength="1" maxlength="20"
                    class="materialize-textarea validate" required></textarea>
                <label for="book_author">Number of pages</label>
            </div>
        </div>

        <!-- ISBN -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="isbn" name="isbn" minlength="5" maxlength="20"
                    class="materialize-textarea validate" required></textarea>
                <label for="isbn">ISBN</label>
            </div>
        </div>

        <!-- Rating -->
        <div class="row">
            <div class="input-field col s12">
                <select id="rating" name="rating">
                  <option value="" disabled selected>Book rating</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
        </div>



        <!-- Submit button -->
        <div class="row">
            <button class="btn-large waves-effect waves-light right" type="submit">
                Add book<i class="material-icons right">arrow_forward</i>
            </button>
        </div>
    </form>
</div>
{% endblock %}