<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Materialize icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <!-- Hoover effect -->
    
    <!-- CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title class="title">La Biblioteca</title>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar z-depth-0">
            <nav class="z-depth-0">
                <div class="z-depth-0 nav-wrapper #ffffff ">
                    <a href="{{ url_for('index') }}" class="brand-logo left">La Biblioteca</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                            class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down   ">
                        <li><a class="hvr-underline-from-center" href="{{ url_for('index') }}">Home</a></li>
                        <li><a class="hvr-underline-from-center" href="{{ url_for('get_books') }}">Books</a></li>

                        {% if session.user %}
                        <li><a class="hvr-underline-from-center" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a class="hvr-underline-from-center" href="{{ url_for('add_book') }}">Add Book</a></li>
                        {% if session.user|lower == "admin"|lower %}
                        <li><a class="hvr-underline-from-center" href="{{ url_for('get_genres') }}">Manage Genres</a></li>
                        {% endif %}
                        <li><a class="hvr-underline-from-center" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li><a class="hvr-underline-from-center" href="{{ url_for('login') }}">Login</a></li>
                        <li><a class="hvr-underline-from-center" href="{{ url_for('register') }}">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <!-- SideNav in mobile devices -->
            <ul class="sidenav right" id="mobile-demo">
                <h4 class="center-align"><a href="{{ url_for('index') }}">La Biblioteca</a></h4>
               
                <li><a class="hvr-underline-from-center" href="{{ url_for('index') }}">Home</a></li>
                        <li><a class="hvr-underline-from-center" href="{{ url_for('get_books') }}">Books</a></li>

                {% if session.user %}
                <li><a class="hvr-underline-from-center" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a class="hvr-underline-from-center" href="{{ url_for('add_book') }}">Add Book</a></li>
                {% if session.user|lower == "admin"|lower %}
                <li><a class="hvr-underline-from-center" href="{{ url_for('get_genres') }}">Manage Genres</a></li>
                {% endif %}
                <li><a class="hvr-underline-from-center" href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a class="hvr-underline-from-center" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="hvr-underline-from-center" href="{{ url_for('register') }}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <section>
    {% block index %}
    {% endblock %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>


    <!-- Scripts  -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Script file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>