{% extends "base.html" %}
{% block content %}

<div class="container z-depth-3">
    <!-- Book Details Section -->
    <div class="row container-row book-container">
        <!-- Book Details Table -->
        <div>
            <a aria-label="save favorite book button" href="{{ url_for('add_favorite', favorites_id=book._id) }}" class="
          waves-effect waves-light
          btn-large btn
          pill-btn
          red
          lighten-2
          right
          favorite-button
        "> <i aria-hidden="true" class="material-icons">star_border</i></a>
            <!-- Book Cover Image -->
            <div id="book-page-img" class="col s12 m6">
                <img src="{{ book.book_image }}" alt="Book cover image" />
            </div>
        </div>
        <div class="col s12 m6">
            <h4 class="center-align">{{ book.book_name }}</h4>
            <table>
                <tbody>
                    <tr>
                        <td><i class="teal-text prefix"></i>&ensp;Genre:</td>
                        <td>{{ book.genre_name }}</td>
                    </tr>
                    <tr>
                        <td><i class="teal-text prefix"></i>&ensp;Author:</td>
                        <td>{{ book.book_author }}</td>
                    </tr>
                    <tr>
                        <td><i class="teal-text prefix"></i>&ensp;Pages:</td>
                        <td>{{ book.number_pages }}</td>
                    </tr>
                    <tr>
                        <td><i class="teal-text prefix"></i>&ensp;ISBN:</td>
                        <td>{{ book.isbn }}</td>
                    </tr>
                    <tr>
                        <td><i class="teal-text prefix"></i>&ensp;Author:</td>
                        <td>{{ book.book_author }}</td>
                    </tr>
                    <tr>
                        <td><i class="teal-text prefix"></i>&ensp;Description:</td>
                        <td class=" book-description">{{ book.book_description }}</td>

                    </tr>
                </tbody>
            </table>
            <!-- Book Page Buttons -->
            <tr>
                <td><i class="teal-text prefix"></i>&ensp;Edit/Delete:</td>
                <td>
                    <div class="card-action center-align">
                        {% if session.user|lower == book.created_by|lower %}
                        <a href="{{ url_for('edit_book', book_id=book._id) }}"
                            class="waves-effect waves-light btn btn-large s3 button-purple">
                            <i class="material-icons center-align">edit</i></a>

                        <a class="
                    waves-effect waves-light
                    btn
                    modal-trigger
                    button-delete
                    btn-large
                  " href="#{{book._id}}">
                            <i class="material-icons center-align">cancel</i></a>

                        <!-- Modal for deleting book -->
                        <div id="{{book._id}}" class="modal">
                            <div class="modal-content">
                                <h4>Are you sure you want to delete this book?</h4>
                                <a href="{{ url_for('delete_book', book_id=book._id) }}"
                                    class="waves-effect waves-light modal-button">Delete</a>
                                <a href="#!" class="modal-close waves-effect btn-flat modal-button">Cancel</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
        </div>
    </div>
</div>
<!-- Comments Section -->

<div class="row container-row comments-title">
    <h5>
        Comments
        {% if session.user %}
        <a href="{{ url_for('add_comment', book_id=book._id) }}"
            class="waves-effect waves-light btn-large btn button-purple right">
            <i aria-hidden="true" class="material-icons">mode_comment</i></a>

        {% else %}
        <a href="{{ url_for('register') }}" class="waves-effect waves-light btn-large btn button-purple right">
            <i aria-hidden="true" class="material-icons">mode_comment</i></a>

        {% endif %}
    </h5>
</div>

{% for comment in book.comments %}

<div class="section comments-section">
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-action">
                    <div>
                        <p>{{ comment.comment }}</p>
                        <br />
                        <p>Posted By: <strong>{{ comment.created_by }}</strong></p>

                        {% if session.user|lower == book.created_by|lower or session.user|lower == 'admin' %}
                        <a class=" waves-effect waves-light btn modal-trigger button-delete right"
                            href="#{{comment._id}}">
                            <i class="material-icons center-align">cancel</i>
                        </a>


                        <div id="{{comment._id}}" class="modal">
                            <div class="modal-content center-align">
                                <h4>Are you sure you want to delete this comment?</h4>
                                <a href="{{ url_for('delete_comment', book_id=book._id, comment_id=comment._id) }}"
                                    class="waves-effect waves-light modal-button">Delete</a>
                                <a href="#!" class="modal-close waves-effect btn-flat modal-button">Cancel</a>
                            </div>
                        </div>


                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}