{% extends "base.html" %} {% block content %}

<h3 class="center-align">Edit Book</h3>

<div class="row">
    <!-- Category section -->
    <form class="col s12" method="POST" action="{{ url_for('edit_book', book_id=book._id) }}">
        <label>Select Category</label>
        <select id="category_name" name="category_name" class="validate" required>
            <option value="" disabled><label for="category_name">Select Category</label></option>

            {% for category in categories %}
            {% if category.category_name == book.category_name %}
            <option value="{{ category.category_name }}" >{{ category.category_name }}</option>
            {% else %}
            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            {% endif %}
            {% endfor %}
        </select>
 

            <!-- Book name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="book_name" name="book_name"  value="{{ book.book_name }}" type="text" class="validate" minlength="5" maxlength="50" required />
                    <label for="book_name">Book name</label>
                </div>
            </div>

            <!-- Book description -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="book_description" name="book_description" minlength="5" maxlength="500"
                        class="materialize-textarea validate" required>{{- book.book_description -}}</textarea>
                    <label for="book_description">Book Description</label>
                </div>
            </div>

            <!-- Book author -->

        <div class="row">
            <div class="input-field col s12">
                <textarea id="book_author" name="book_author" minlength="5" maxlength="50"
                    class="materialize-textarea validate" required>{{ book.book_author }}</textarea>
                <label for="book_author">Book Author</label>
            </div>
        </div>

        <!-- Number of  pages -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="number_pages" name="number_pages"  minlength="1" maxlength="20"
                    class="materialize-textarea validate" required>{{ book.number_pages }}</textarea>
                <label for="book_author">Number of pages</label>
            </div>
        </div>

        <!-- ISBN -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="isbn" name="isbn" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required>{{ book.isbn }}</textarea>
                <label for="isbn">ISBN</label>
            </div>
        </div>

        <!-- Rating -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="rating" name="rating" minlength="1" maxlength="20"
                    class="materialize-textarea validate" required>{{ book.rating }}</textarea>
                <label for="rating">Book rating</label>
            </div>
        </div>


            <!-- Submit button -->
            <div class="row">
                <!-- Edit button -->
                <button class="btn-large waves-effect waves-light right">
                    Edit book<i class="material-icons right">arrow_forward</i>
                </button>
                <!-- Cancel button -->
                <button class="btn-large waves-effect waves-light right red">
                    <a href="{{ url_for('get_books') }}">
                        Cancel <i class="right"></i>
                    </a>
                </button>
            </div>
            </form>
</div>
{% endblock %}