{% extends "base.html" %}
{% block index %}

<div class="parallax-container top-container">
  <div class="parallax"><img src="../static/images/hero-image.jpg" alt="hero image"></div>
</div>
<div class="section white hero-container">
  <div class="row container center-align">
    <h2 class="header">La Biblioteca</h2>
    <p class="grey-text text-darken-3 lighten-3">Your new book database</p>
    <p class="grey-text text-darken-3 lighten-3">Add, comment and pick your favorite books</p>
  </div>

  <div class="row center-align">
    <a class="btn-large button-index waves-effect" href="{{ url_for('index') }}">
      Home<i class="material-icons right">home</i></a>
    <a class="btn-large button-index waves-effect " href="{{ url_for('get_books') }}">
      Books<i class="material-icons right">book</i></a>

    {% if session.user %}
    <a class="btn-large button-index waves-effect" href="{{ url_for('profile', username=session['user']) }}">
      Profile<i class="material-icons right">face</i></a>
    <a class="btn-large button-index waves-effect" href="{{ url_for('add_book') }}">
      Add Book<i class="material-icons right">add</i></a>
    {% if session.user|lower == "admin"|lower %}
    <a class="btn-large button-index waves-effect" href="{{ url_for('get_genres') }}">
      Manage Genre<i class="material-icons right">edit</i></a>
    {% endif %}
    <a class="btn-large button-index waves-effect" href="{{ url_for('logout') }}">
      Log out<i class="material-icons right">close</i></a>
    {% else %}
    <a class="btn-large button-index waves-effect" href="{{ url_for('login') }}">
      Login<i class="material-icons right">keyboard_arrow_right</i></a>
    <a class="btn-large button-index waves-effect" href="{{ url_for('register') }}">
      Sign Up<i class="material-icons right">assignment_ind</i></a>
    {% endif %}

  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="../static/images/hero-image.jpg" alt="hero image"></div>
</div>




{% endblock %}