
{% extends "base.html" %}
{% block landing_page %}



    <div class="parallax-container">
        <div class="parallax"><img src="../static/images/hero-image.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container">
          <h2 class="header">La Biblioteca</h2>
          <p class="grey-text text-darken-3 lighten-3"></p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="../static/images/hero-image.jpg"></div>
      </div>
          



{% endblock %}